.fs-11px {
  font-size: 11px;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #3610e100;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #ee0b0b00;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff5c;
}
.bg-linear-dark {
  background-image: linear-gradient(to top, #020202 40%, #2f2f2f);
}
.bg-green {
  background-color: #1dd65f;
}

.bg-dark-grey {
  background-color: #101010;
}

.bg-top-album-page {
  background-image: linear-gradient(to top, #a18e3e 70%, #DCBD4E );
}

.bg-linear-to-trasp{
  background-image: linear-gradient(to top, #191919 60%, #00000029 );
}